/* src/App.css */
* {
  box-sizing: border-box;
}

:root {
  line-height: 1;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  width: 68rem;
  margin: 0 auto
}

main {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

ul {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 16px;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

li {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid transparent;
}

h2 {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: rgba(122,122,122,.125);
  text-align: left;
  position: relative;
}

.warning {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #ff202010;
  border: 1.5px solid #ff0000;
  border-radius: 8px;
  margin: 0;
}

span {
  position: absolute;
  right: 1rem;
  font-weight: 500;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: .5rem .75rem .65rem;
  background-color: rgba(122,122,122,.5);
  cursor: pointer;
  border: 1.5px solid rgba(122,122,122,.75);
  border-radius: 6px;
}

span:hover {
  background-color: rgba(122, 122, 122, .85);
}